.about_food .food_heading{
    font-size: 30px;
    text-align: center;
    color: wheat;
    margin-top: 20px;
    margin-left: 60px;
}
.food_content{
    color: antiquewhite;
    height: 200px;
    width: 1300px;
    margin-left: 110px;
    margin-top: 40px;
    font-size: 15px;

}
.food_content p{
    width: 400px;
    height: 500px;

}

.food_cardss{
    margin-left: 100px;
    width: 800px;
    height: 400px;

}
.food_name{
    font-size: 20px; color: white;
    text-align: center;
}
/*.food_cardss{*/
/*    margin-left: 150px;*/
/*    height: 500px;*/
/*    width: 500px;*/
/*}*/