<nav style="display: flex">
        <div class="logo"><h1 class="animated infinite bounce" style="animation-name: heartBeat">CG TOURISM</h1></div>
        <div class="menu">

            <a href="{% url 'main' %}"><i class="fa fa-home" style="margin-right: 8px"></i>Home</a>
            <a href="{% url 'places' %}"><i class="fa fa-location-arrow" style="margin-right: 8px"></i>Places</a>
            <a href="{% url 'tour_package' %}"><i class="fa fa-h-square" style="margin-right: 8px"></i>Package</a>
            <a href="{% url 'about_food' %}"><i class="fa fa-cutlery" style="margin-right: 8px"></i>Food</a>
            <a href="{% url 'about' %}"><i class="fa fa-phone-square" style="margin-right: 8px"></i>About Us</a>
        </div>
    </nav>