{% extends 'starter_css.html' %}
{% load static %}

{% block menu %}
<header style="background: linear-gradient(57deg ,#050763,#000);">
        {% include 'adminMenu.html' %}
        <section class="new_user_content" style="height: 460px;width: 530px;margin-left: 500px;filter: drop-shadow(2px 2px 2px aquamarine); padding-left: 60px;">
            <h3 style="padding-top: 13px;">Update Tour Package</h3>
            <form action="{% url 'updated_package' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <table align="center" border="0" width="400" style="height: 400px;">
                <tr>
                    <th>
                        <input type="number" name="p1" value="{{ data.pid }}" disabled class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="text" name="p2" value="{{ data.pname }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="text" name="p3" value="{{ data.pduration }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="text" name="p4" value="{{ data.pdescription }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="number" name="p5" value="{{ data.prating }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </th>
                </tr>
                <tr>
                    <th>
                        Image: <input type="file" name="img" required>
                    </th>
                </tr>
                <tr>
                    <th>
                        <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Update</button>

                    </th>

                </tr>

            </table>
            </form>
        </section>
</header>
{% endblock %}